
/* Formato base del cuerpo */

.cuerpo{
    background-color: white;
    width: 1550px;
}

/* Fuente */

@font-face {
    font-family: 'Tan Nimbus';
    src: url('/Fonts/TAN_Nimbus/TAN-NIMBUS.otf')  format('woff2'),
         url('/Fonts/TAN_Nimbus/TAN-NIMBUS.otf') format('woff'); 
  
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('/Fonts/uni-sans/UniSansThin.otf')  format('woff2'),
         url('/Fonts/uni-sans/UniSansThin.otf') format('woff'); 
  
    font-weight: normal;
    font-style: normal;
}



/* Formato Titulo Principal */

.titulo-principal{
    background-color: #fdd9e3;
    color:black;
    font-family: 'Tan Nimbus';
    font-size: 120px;
    padding-top: 30px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.banner{
    object-fit: fill;
    width: 1550px;
}

/* Formato de subtitulos */

.titulo-segundo{
    background-color: #fdd9e3;
    color:black;
    font-family: 'Uni Sans';
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

/* Formato subtitulos de segundo nivel */

.titulo-tercero{
    background: white;
    color:black;
    font-family: 'Uni Sans';
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Formato Menu desplegable*/

.menu-container {
    position: relative;
    display: inline-block;
  }
  
  .menu-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Uni Sans';
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    font-family: 'Uni Sans';
    
  }
  
  .menu li {
    padding: 10px 20px;
  }
  
  .menu li:hover {
    background-color: #f0f0f0;
    
  }


/* Formato de Acordion */

ul.acorh,
ul.acorh * {
    margin: 0;
    padding: 0;
    border: 0;
}

ul.acorh {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 18px;
}

ul.acorh li {
    list-style: none;
    font-family: 'Uni Sans';
}

ul.acorh li a {
    display: block;
    padding: 10px 10px 10px 20px;
    background: white;
    font-family: 'Uni Sans';
    color: black;
    border-bottom: 1px solid #000;
    border-top: 1px solid #f7bff8;
    text-decoration: none;
    box-sizing: border-box;
}

ul.acorh li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}

ul.acorh li li a {
    padding: 10px 10px 10px 40px;
    background: #fdd9e3;
    font-family: 'Uni Sans';
    color: #000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #fdd9e3;
    box-sizing: border-box;
}

ul.acorc li li:last-child a {
    border-bottom: 0;
}

ul.acorh li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
}

ul.acorh li a:hover {
    background: #f7bff8;
    color: #fff;
}

/* Formato base de tarjetas de productos */

.padre-cards{
        
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-evenly;
    max-width: 1550px;
    }

/* Formato logo */

.logo{
    width: 250px;
    height: 250px;
    border-radius: 5%;

}


/* Formato Titulo Tarjeta */

.card-title{
    font-size: 35px;
    text-align: center;
    color:black;
    font-family: 'Tan Nimbus';
}


/* Formato tarjeta Producto */

.tarjeta-producto{
    background-color: #fdd9e3;
    text-align: center;
    color:black;
    border-radius: 3%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    margin-bottom: 3%; 
    margin-top: 2%;
    box-shadow: 2 2px 4px rgba(0, 0, 0, 0.1);
    width: 350PX;
    height: 650px;

}


.card-text{
    font-family: 'Uni Sans';
    font-size:16px;
}

/* Formato botones */

.btn-primary{
    text-align: center;
    color:black;
    font-family: 'Tan Nimbus';
}

.btn{
    text-align: center;
    color:black;
    font-family: 'Tan Nimbus';
}


#checkout-btn{
    text-align: center;
    color:black;
    font-family: 'Tan Nimbus';
}

/*Formato carrito*/

.Carrito{
    text-align: center;
    padding-top: 2%;
    color:black;
    font-family: 'Uni Sans';

}


/*Formato acordion*/

.acorh{
	
    padding-top: 10%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: center;
}

/*Items Carrusel*/

.carousel-item img {
    max-height: 350px; 
    object-fit: fill;
  }



