
.cuerpo{
    background-color: #fdd9e3;
    
}

.titulo-principal{
    background-color: #fdd9e3;
    color:black;
    font-family: 'bodoni FLF';
    font-size: 120px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.titulo-segundo{
    background-color: #fdd9e3;
    color:black;
    font-family: 'bodoni FLF';
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.titulo-tercero{
    background: white;
    color:black;
    font-family: 'bodoni FLF';
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 2%;

}

ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
margin: 10px auto;
padding: 0;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.acorh li {
list-style: none;
font-family: 'bodoni FLF';
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px;
background: white;
font-family: 'bodoni FLF';
color: black;
border-bottom: 1px solid #000;
border-top: 1px solid #f7bff8;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
background: #fdd9e3;
font-family: 'bodoni FLF';
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #fdd9e3;
box-sizing: border-box;
}
ul.acorc li li:last-child a {
border-bottom: 0;
}
ul.acorh li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}
ul.acorh li a:hover {
background: #f7bff8;
color: #fff;
}

.padre-cards{
        
        display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    align-items: center;
	    align-content: center;
        max-width: 1480px;
    }

.logo{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

.card-title{
    font-size: 35px;
    text-align: center;
    color:black;
    font-family: 'bodoni FLF';
}

.tarjeta-producto{
    background-color: white;
    text-align: center;
    color:black;
    border-radius: 3%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    margin-bottom: 3%; 
    margin-top: 2%;
    box-shadow: 2 2px 4px rgba(0, 0, 0, 0.1);
    width: 350PX;
    height: 650px;
    
}

.btn-primary{
    text-align: center;
    color:black;
    font-family: 'bodoni FLF';
}

.btn{
    text-align: center;
    color:black;
    font-family: 'bodoni FLF';
}

.acorh{
	
    padding-top: 10%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: center;
}

.carousel-item img {
    max-height: 400px; 
    object-fit: cover;
  }



